# Archivo de conexión a la base de datos. ¡NUNCA SUBIR!
includes/db.php

# Carpeta de dependencias de Node.js
node_modules/

# Archivos de configuración del editor de código
.vscode/

# Archivos del sistema operativo
.DS_Store